*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * transform-origin */

/* 
rot
radius
drehpunt unter links
dreht 90 grad
vergrößert sich 
geht so 0.5 sek schnell
hover
 */


div{
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    background-color: red;
}

.div--transform {
    transition-duration: 2s ;
    /* transition-timing-function: ease; */

    
}

.div--transform:hover{
    transform-origin: bottom left;
   
    transition-duration: 2s ;
    transform: rotate(90deg) scale(2);
    

}